@import 'tailwindcss';

html, body, #root {
    height: 100%;
}

:root {
    --terminal-bg: #1E0D14;
    --terminal-fg: #f75049;
    --accent: #5ef6ff;
}

body {
    background: var(--terminal-bg);
    color: var(--terminal-fg);
    font-family: 'Orbitron', monospace;
}

@keyframes blink {
    0%, 50% {
        opacity: 0.7;
    }

    51%, 100% {
        opacity: 0;
    }
}
